<div class="login-component">
  <div class="login-element">
    <h2 class="header">Goodocity</h2>
    <p class="login-text">Connecting you with local social groups.</p>
  </div>
  <div class="login-element-button">
    <form [formGroup]="credentials">
      <div class="form-group">
        <input
          placeholder="Email"
          formControlName="email"
          type="text"
          id="email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <input
          placeholder="Password"
          formControlName="password"
          type="password"
          id="password"
          class="form-control"
        />
      </div>
    </form>
    <div *ngIf="invalidLogin" class="alert alert-danger">
      Invalid username and/or password.
    </div>
    <button class="btn login-button" (click)="onSubmit()">Log in</button>
    <p class="forgot-password">Forgot Password?</p>
  </div>
</div>
