.header {
  font-family: "Bitter", serif;
  font-size: 40px;
  font-weight: bold;
  color: #00b294;
}

.login-component {
  flex-grow: 4;
  width: 600px;
  height: 450px;
  border-radius: 10px;
  font-family: "Bitter", serif;
  background-color: #ffffff;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 800px) {
  .login-component {
    width: 90%;
  }
}

.login-element,
.login-element-button,
.auth-element-button {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.auth-element-button {
  height: 100px;
  justify-content: space-between;
}

.forgot-password {
  font-size: 15px;
  margin-top: 5px;
  color: #00b294;
}

.login-text {
  font-size: 24px;
  line-height: 40px;
  text-align: center;

  color: #3c3c46;
}

.login-button {
  color: white;
  background: #00b294;
  border-radius: 10px;
}

.btn {
  width: 250px;
  border: 4px solid #00b294;
  box-sizing: border-box;
  border-radius: 10px;
}
