<div class="sidebar">
  <div class="sidebar-main-container">
    <p class="main-heading">Goodocity</p>
    <button class="user-profile btn">
      <img
        class="profile-picture"
        src="https://marketplace.canva.com/EADzkaU9XJI/1/0/400w/canva-red-yellow-black-white-wavy-female-woman-girl-teen-portrait-simplified-illustration-square-laptop-sticker-_czOVX8ezRU.jpg"
        height="30px"
      />
      <p>Miguel Soto</p>
    </button>
    <div class="sidebar-elements">
      <button class="btn">
        <img
          class="sidebar-element-image"
          src="https://www.iconfinder.com/data/icons/small-n-flat/24/calendar-512.png"
        />
        <p>Events</p>
      </button>
      <button class="btn">
        <img
          class="sidebar-element-image"
          src="https://static.thenounproject.com/png/888747-200.png"
        />
        <p>Communities</p>
      </button>
      <button class="btn">
        <img
          class="sidebar-element-image"
          src="https://static.thenounproject.com/png/15619-200.png"
        />
        <p>Virtual</p>
      </button>
    </div>
  </div>
  <p class="copyright">© 2020 All Rights Reserved</p>
</div>
